* {
  background-color: #ffff56;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
}

.recipe-link {
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
  background-color: #ff4030;
  text-decoration: none;
}

.home {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff4030;
  padding: 7px;
}

em {
  color: #00000080;
}

.ingredients {
  background-color: blue;
}

.desc {
  text-align: center;
}

.para {
  background-color: #ffbe82;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
}

.para strong {
  background-color:#ffbe82;
}

li,
ul,
ol {
  background-color: #ffffa6;
}

.bullets {
  text-decoration: none;
}